*,html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(245, 245, 245, 0.671);
    overflow-x: hidden;
}

nav {
    position: fixed;
    display: flex;
    padding: 0px 50px;
    justify-content: space-between;
    background-color: rgba(39, 163, 245, 0.377);
    align-items: center;
    width: 100%;
    overflow-x: hidden;
}

.navbar a {
  font-family: "Poppins" , sans-serif;
  font-size: 15px;
}

.gmbar {
    display: flex;
    width: 90px;
    height: 90px;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px ;
  backdrop-filter: blur(10px);
  transition: 0.3 ease;
}

.sidebar {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  position: fixed;
  height: 1000%;
  left: 0;
  padding-right: 100px;
  
}

.banyak a {
  color: #000000;
  transition: 0.5s ease;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
}

.banyak a:hover {
  color: rgb(245, 245, 245);
  text-shadow: 0 0 25px rgb(24, 88, 161) , 0 0 50px rgb(24, 88, 161);
  transform: scale(1.1);
}

.banyak {
  top: 0;
  left: 3rem;
  gap: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: start;
  margin-top: 200px;
  margin-left: 3rem;

}

.home1::before{
  content: '';
  background-color: rgb(24, 88, 161);
  height: 1.3px;
  width: 0;
  position: absolute;
  bottom: 0;
  transition: .5s; 
  top: 20px;
}

.home1:hover::before {
  width: 100%;
}

.aboutme1::before{
  content: '';
  background-color: rgb(24, 88, 161);
  height: 1.3px;
  width: 0;
  position: absolute;
  bottom: 0;
  transition: .5s; 
  top: 20px;
}

.aboutme1:hover::before {
  width: 100%;
}

.pengalaman1::before{
  content: '';
  background-color: rgb(24, 88, 161);
  height: 1.3px;
  width: 0;
  position: absolute;
  bottom: 0;
  transition: .5s; 
  top: 20px;
}

.pengalaman1:hover::before {
  width: 100%;
}

.Hubungi1::before{
  content: '';
  background-color: rgb(24, 88, 161);
  height: 1.3px;
  width: 0;
  position: absolute;
  bottom: 0;
  transition: .5s; 
  top: 20px;
}

.Hubungi1:hover::before {
  width: 100%;
}

.link a {
  color: #000000;
  transition: 0.5s ease;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
}

.link a:hover {
  color: rgb(245, 245, 245);
  text-shadow: 0 0 25px rgb(24, 88, 161) , 0 0 50px rgb(24, 88, 161);
  transform: scale(1.1);
}

.home::before{
  content: '';
  background-color: rgb(24, 88, 161);
  height: 1.3px;
  width: 0;
  position: absolute;
  bottom: 0;
  transition: .5s; 
  top: 20px;
}

.home:hover::before {
  width: 100%;
}

.aboutme::before{
  content: '';
  background-color: rgb(24, 88, 161);
  height: 1.3px;
  width: 0;
  position: absolute;
  bottom: 0;
  transition: .5s;
  top: 20px;
}

.aboutme:hover::before {
  width: 100%;
}

.pengalaman::before{
  content: '';
  background-color: rgb(24, 88, 161);
  height: 1.3px;
  width: 0;
  position: absolute;
  bottom: 0;
  transition: .5s;
  top: 20px;
}

.pengalaman:hover::before {
  width: 100%;
}

.Hubungi::before{
  content: '';
  background-color: rgb(24, 88, 161);
  height: 1.3px;
  width: 0;
  position: absolute;
  bottom: 0;
  transition: .5s;
  top: 20px;
}

.Hubungi:hover::before {
  width: 100%;
}

.navbar h1 {
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
}

.atasan {
  margin-left: 12rem;
  margin-right: 3rem;
  display: flex;
  flex-direction: row;
  gap: 5rem;
  align-items: center;
  width: 100%;
  padding-top: 5rem;
}

.atasan2 {
  display: flex;
  flex-direction: column;
}


.halo {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-size: 22px;
  color: rgb(40, 224, 169);
}

.Faiz {
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  color: black;
  font-size: 45px;
  margin-top: 20px;
}

.penjelasan {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-size: 13px;
}

.penjelasan1 {
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-size: 18px;
}

.hubung {
  padding: 10px 20px;
  background-color: rgb(30, 141, 175);
  color: black; 
  border: 2px solid transparent;
  border-radius: 10px;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.3s ease;
  margin-top: 20px;
  width: 100%;
  box-shadow: #000000;
}

.hubung a {
  color : black;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
}

.hubung:hover {
  background-color: rgb(245, 245, 245);
  box-shadow: 0 0 25px rgb(30, 141, 175);
} 

.hubung:hover a {
  color: rgb(30, 141, 175);
}

.gambar {
  display: flex;
  width: 450px;
  height: 450px;
  margin-left: 200px;
}

.iconutama {
  display: flex;
  font-size: 30px;
  gap: 60px;
  color: #000000;
  margin-top: 15px;
}

.iconutama .icon1 a {
  color: #000000;
  transition: 0.5s;
}

.iconutama .icon1 a:hover{
  color: #25D366;
  transition: 0.3s;
}
.iconutama .icon2 a {
  color: #000000;
  transition: 0.5s;
}

.iconutama .icon2 a:hover{
  color: #E4405F;
  transition: 0.3s;
}

.iconutama .icon3 a {
  color: #000000;
  transition: 0.5s;
}

.iconutama .icon3 a:hover{
  color: #00acee;
  transition: 0.3s;
}


.iconutama .icon4 a {
  color: #000000;
  transition: 0.5s;
}

.iconutama .icon4 a:hover {
  color: #FF0000;
  transition: 0.5s;
}

.atasanabout {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 12rem;
}

.atasanabout {
  font-family: "Oxanium", sans-serif;
  font-size: 40px;
}

#aboutme {
  padding-top: 8px;
}

.tek {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 90%;
  flex-direction: row;
  font-size: 20px;
  margin-left: 15%;
  padding-top: 5rem;
  gap: 1rem;
}

.pp {
  position: relative;
  top: 86%;
  left: 0;
  width: 100%;
  overflow: hidden; 
  color: #00acee;
  font-size: 50px;
  font-family: "Quicksand", sans-serif;
}

.strip {
  color: orange;
}

.marquee-container {
  width: 100%;
  overflow: hidden; 
  white-space: nowrap;
}

.marquee {
  display: inline-block;
  animation: scroll-text 8s linear infinite; 
}

.marquee span {
  display: inline-block;
  padding-right: 10px; 
}

@keyframes scroll-text {
  0% {
    transform: translateX(0); 
  }
  100% {
    transform: translateX(-50%); 
  }
}

.Media {
  background-color: #e9dede;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  align-self: center;
  align-items: center;
  margin-top: 20rem;
  color: white;
  border-radius: 50px;
  width: 1310px;
  margin-left: 25px;
  box-shadow: 0 0 40px #000000;
}

.media .media1 {
  align-items: center;
  display: flex;
  justify-content: center;
}

.media1 {
  justify-content: center;
}

.gmbrjs {
  width: 200px;
  height: 270px;
}

.komp {
  display: flex;
  flex-direction: row;
  gap: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 80px;
}

.judul{
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  padding-top: 40px;
}

.html1 {
  background-color: #e9dede;;
  border-radius: 20px;
  height: 400px;
  width: 300px;
  padding-top: 50px;
  box-shadow: 0 0 40px #000000;
  transition: 1s;
}

.css1 {
  background-color: #e9dede;
  border-radius: 20px;
  height: 400px;
  width: 300px;
  padding-top: 50px;
  box-shadow: 0 0 40px #000000;
  transition: 1s;
}

.js1 {
  background-color: #e9dede;
  border-radius: 20px;
  height: 400px;
  width: 300px;
  padding-top: 50px;
  box-shadow: 0 0 40px #000000;
  transition: 1s;
}

.html1:hover {
  background-color: rgb(58, 221, 243);
  transform: translateY(-30px);
  transition: 1s;
}

.css1:hover {
  background-color: rgb(58, 221, 243);
  transform: translateY(-30px);
  transition: 1s;
}

.js1:hover {
  background-color: rgb(58, 221, 243);
  transform: translateY(-30px);
  transition: 1s;
}

.footer {
  background-color: #000000;
  color: white;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  padding: 50px 80px 60px 70px;
  margin-top: 800px;
  box-shadow: -60px -90px 80px #000000;
  box-sizing: initial;
}

.iconfooter {
  display: flex;
  justify-content: center;
}

.iconfooter a{
  padding: 10px;
  margin: 20px;
  background-color: white;
  border-radius: 50%;
  color: #000000;
  font-size: 2rem;
  transition: 0.3s;
}

.iconfooter .iconbag1 a:hover {
  color: #25D366;
  transition: 0.5s;
}
.iconfooter .iconbag2 a:hover {
  color: #E4405F;
  transition: 0.5s;
}
.iconfooter .iconbag3 a:hover {
  color: #00acee;
  transition: 0.5s;
}

.iconfooter .iconbag4 a:hover {
  color: #FF0000;
  transition: 0.5s;
}

.headerfooter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px ;
  backdrop-filter: blur(10px);
  transition: 0.3 ease;
  margin: 50px;
}

.headerfooter a {
  color: white;
  transition: 0.5s ease;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
}

.headerfooter a:hover {
  color: rgb(245, 245, 245);
  text-shadow: 0 0 25px rgb(24, 88, 161) , 0 0 50px rgb(24, 88, 161);
  transform: scale(1.1);
}


@media (max-width) {
  .headerfooter {
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin: 10px;
  }
}

